# Numbers

In [1]:
1 + 1

2

In [2]:
2 * 3

6

In [3]:
1 / 2

0.5

In [4]:
10 // 3

3

In [5]:
2 ** 4

16

In [6]:
5 % 2

1

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2 + 3) * (5 + 5)

50

# Variable Assignment

In [9]:
x = 2
y = 2

In [10]:
z = x + y

In [11]:
z

4

# Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" let's use other quotes"

" let's use other quotes"

# Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 99
name = 'Lou'

In [19]:
print("my name is", name)

my name is Lou

In [20]:
print("My number is: {one}, and my name is {two}".format(one=num, two=name))

My number is: 99, and my name is Lou

In [21]:
print("My number is: {one}, and my name is {two}, did I say number ={one}".format(one=num, two=name))

My number is: 99, and my name is Lou, did I say number =99

In [22]:
print("My number is: {}, and my name is {}".format(num, name))

My number is: 99, and my name is Lou

# Lists

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hi', 1, [1,2]]

['hi', 1, [1, 2]]

In [25]:
mylist = ['a', 'b', 'c']

In [26]:
mylist.append('d')
print(mylist)

['a', 'b', 'c', 'd']

In [27]:
mylist[0]

'a'

In [28]:
mylist[1]

'b'

In [29]:
mylist[3]

'd'

In [30]:
mylist[0] = 'New Element'
print(mylist)

['New Element', 'b', 'c', 'd']

In [31]:
nest = [1,2,3,[4,5,['target']]]

In [32]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [33]:
nest[3]

[4, 5, ['target']]

In [34]:
nest[3][2]

['target']

In [35]:
nest[3][2][0]

'target'

In [36]:
nest[3][2][0][3]

'g'

# Dictionaries

In [37]:
d = {'key1':'item1', 'key2':'item2'}

In [38]:
print(d)

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

# Booleans

In [40]:
True

True

In [41]:
False

False

# Tuples

In [42]:
t = (1,2,3)

In [43]:
print(t)

(1, 2, 3)

In [44]:
t[0]

1

In [45]:
t[2]

3

In [46]:
print(mylist)

['New Element', 'b', 'c', 'd']

In [47]:
mylist[0] = 99
print(mylist)

[99, 'b', 'c', 'd']

In [48]:
t[0]= 99

TypeError: 'tuple' object does not support item assignment

# Sets

In [ ]:
{1, 2, 3}

In [ ]:
{1,2,3,4,5,4,3,2,3,3,3,3,3,4,4,5,2,1}

# Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

# Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

# if, else, elseif

In [ ]:
if 1 < 2:
    print("hello")
    print("hello")

In [ ]:
if 1 < 2:
    print("hello")
    print("hello")
else:
    print("bye")

In [ ]:
if 1 < 0:
    print("hello")
    print("hello")
else:
    print("bye")

In [ ]:
if 1 < 0:
    print("hello")
    print("hello")
elif 1==2:
    print("bye")
else:
    print("a;lskdfj")

# For loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for banana in seq:
    print(banana)

In [ ]:
for x in [4,3,5,6,7,3,2]:
    print(x)

# while loops

In [49]:
i = 1
while i < 5:
    print('i is = to {}'.format(i))
    i += 1

i is = to 1
i is = to 2
i is = to 3
i is = to 4

# range

In [50]:
range(5)

range(0, 5)

In [51]:
range(0,5)

range(0, 5)

In [53]:
for i in range(2,5):
    print(i)

2
3
4

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
x = range(10)

In [59]:
x

range(0, 10)

In [60]:
x = list( range(10) )

In [61]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# list comprehensions

In [62]:
x = [1, 2, 3, 4]

In [64]:
y = []
for i in x:
    y.append(i**2)

In [69]:
from math import sqrt

In [70]:
z = [sqrt(w) for w in x]

In [71]:
z

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [72]:
x = list(range(100))

In [76]:
z = [(w, sqrt(w)) for w in x if w % 11 == 0]
z

[(0, 0.0),
 (11, 3.3166247903554),
 (22, 4.69041575982343),
 (33, 5.744562646538029),
 (44, 6.6332495807108),
 (55, 7.416198487095663),
 (66, 8.12403840463596),
 (77, 8.774964387392123),
 (88, 9.38083151964686),
 (99, 9.9498743710662)]

# functions

In [79]:
def myfunc(x):
    return sqrt(x)

In [80]:
myfunc(121)

11.0

In [81]:
def myfunc(x = 999):
    return sqrt(x)

In [82]:
myfunc(16)

4.0

In [83]:
myfunc()

31.606961258558215

# lambda expressions

In [84]:
def times2(var):
    return var*2

In [85]:
times2(3)

6

In [86]:
type(times2)

function

In [88]:
type(lambda x : 2*x)

function

In [89]:
f = lambda x : 2*x

In [90]:
type(f)

function

In [91]:
f(11)

22

# map and filter

In [92]:
seq = [1,2,3,4,5,6]

In [95]:
for i in map(times2, seq):
    print(i)

2
4
6
8
10
12

In [97]:
map(lambda a : 2*a**2 + 4*a +5, seq)

In [98]:
list(map(lambda a : 2*a**2 + 4*a +5, seq))

[11, 21, 35, 53, 75, 101]

In [99]:
x = range(1000)

In [101]:
list( filter(lambda a : a%19==0, x) )

[0,
 19,
 38,
 57,
 76,
 95,
 114,
 133,
 152,
 171,
 190,
 209,
 228,
 247,
 266,
 285,
 304,
 323,
 342,
 361,
 380,
 399,
 418,
 437,
 456,
 475,
 494,
 513,
 532,
 551,
 570,
 589,
 608,
 627,
 646,
 665,
 684,
 703,
 722,
 741,
 760,
 779,
 798,
 817,
 836,
 855,
 874,
 893,
 912,
 931,
 950,
 969,
 988]

# methods

In [102]:
st = "Hello my name is Louis"

In [108]:
st.upper()

'HELLO MY NAME IS LOUIS'

In [109]:
st.upper()

'HELLO MY NAME IS LOUIS'

In [110]:
st.split()

['Hello', 'my', 'name', 'is', 'Louis']

In [111]:
for x in st.split():
    print(x)

Hello
my
name
is
Louis

In [113]:
for x in st.split(sep='m'):
    print(x)

Hello
y na
e is Louis

In [114]:
d

{'key1': 'item1', 'key2': 'item2'}

In [115]:
d.keys()

dict_keys(['key1', 'key2'])

In [116]:
d.values()

dict_values(['item1', 'item2'])

In [117]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])